.container{
  display: flex;
  flex-wrap: wrap;
  margin: 25px 25px;
  .form-container{
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    h1{

    }
    .contact-form{
      .input{
        width: 600px;
        padding: 5px;
        margin: 5px 0px 5px 0px;
      }
      .submit-button{
        padding: 10px;
        color: white;
        background-color: darkblue;
        border: 1px solid darkblue;
        border-radius: 3px;
      }
    }
  }
  .list-container{
    display: flex;
    flex-wrap: wrap;
    .list{
      list-style: none;
      padding: 0px;
      margin: 0px 25px;
      li{
        margin-bottom: 10px;
        line-height: 20px;
        padding: 10px 20px;
        border: 1px solid darkblue;
        border-radius: 4px;
        span{
          color: darkblue;
        }
        .delete-button{
          margin: 5px 0px 5px 0px;
          padding: 5px;
          background-color: darkblue;
          color: white;
          border: 1px solid darkblue;
        }
      }
    }
  }
}
