<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="MainController">
      <div class="form-container">
        <h1>Contact Us</h1>
        <form name="contactForm" class="contact-form" ng-submit="addInfo(info)">
          Name <br />
          <input name="name" type="text" class="name input" ng-model="info.name" required/> <br />
          <span class="error" ng-show="contactForm.name.$error.required">** Input Required! **</span><br />
          Email <br />
          <input name="email" type="email" class="email input" ng-model="info.email" required/> <br />
          <span class="error" ng-show="contactForm.email.$error.required">** Email Required! **</span>
          <span class="error" ng-show="contactForm.email.$error.email">** @ Required! **</span><br />
          Website <br />
          <input type="url" name="website" class="website input" ng-model="info.website" required /> <br />
          <span class="error" ng-show="contactForm.website.$error.required">** Website Required! **</span>
          <span class="error" ng-show="contactForm.website.$error.url">** http:// Required! **</span><br />
          Message <br />
          <textarea name="message" type="text" class="message input" ng-model="info.message" required></textarea> <br />
          <span class="error" ng-show="contactForm.message.$error.required">** Input Required! **</span><br />
          <button class="submit-button">Submit</button>
        </form>
      </div>
      <div class="list-container">
        <ul class="list">
          <li ng-repeat="info in infos" data-id="{{ info._id }}">
              <span>Name:</span> {{ info.name }} <br />
              <span>Email:</span> {{ info.email }}<br />
              <span>Website:</span> {{ info.website }}<br />
              <span>Comment:</span> {{ info.message }}<br />
            <button class="delete-button" ng-click="deleteMe(info._id)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
